/* common sheard style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.section-titel {
    color: #181818;
    text-align: center;
    font-size: 35px;
    ;
    font-weight: 700;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
}

.nav-titel {
    color: #181818;
    font-size: 45px;
    ;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
    color: var(--dark-02, #474747);
}

/* beckground color */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.baner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.baner protfolio pic {
    width: 500px;
}

.baner-greating {
    font-size: 45px color: #474747;
}

.baner-titel {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.baner-description {
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.baner-content {
    max-width: 500px;
}


/* main section style */

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about section style */

.about {
    padding: 150px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 150px 0px;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 30px 150px;
}